
<div class="container">
	<div class="jumbotron">
		<h1 class="text-center">news scraper!</h1>
		<h3 class="text-center">something something</h3>
		<button class="scrape-btn">Scrape News</button>
		<button class="saved-articles">Saved Articles</button>
		<!-- <button class="hide-articles">Hide Articles</button> -->
	</div>

	<div class="container">
		<div class="article-area col-lg-6">
			<!-- <p>example of an article</p> -->

		</div>
		<div id="notes"></div>

	</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/app.js"></script>