body { 
	background-color: #f0f8ff; 
}
#wrapper {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5%;
}

.save {
	background-color: white;
	padding: 5px;
	margin: 15px;
	border: 5px solid black;
}
#articles {
	display: inline-block;
	overflow: auto;
	width: 40%;
	height: 500px;
	margin: 10px;
	border: 1px solid black;
}
#notes {
	float: right;
	width: 30%;
	display: inline-block;
}
textarea, input {
	display: block;
	width: 100%;
	background-color: #FCF5C7;
}
input {
	height: 36px;
	font-size: 24px;
}
textarea {
	height: 200px;
	font-size: 18px;
}